In [166]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


import yfinance as yf
yf.pdr_override()

In [167]:
dataset = pd.read_csv('db/acoes1.csv')

dataset

,Date,VALE3.SA,RECV3.SA,KEPL3.SA,CURY3.SA,VULC3.SA,LEVE3.SA,GGBR4.SA,LREN3.SA,ALSO3.SA,...,CLSC4.SA,CMIG4.SA,ITSA4.SA,BBAS3.SA,TASA4.SA,SLCE3.SA,B3SA3.SA,PETR4.SA,SUZB3.SA,KLBN4.SA
0,2021-05-05,110.709999,15.610000,8.475000,9.85,7.810000,24.430000,32.809525,37.627274,26.660000,...,65.480003,9.307692,8.839826,29.260000,25.250000,43.818180,17.166666,23.830000,67.669998,5.52
1,2021-05-06,115.050003,16.000000,8.896666,9.92,8.020000,24.280001,34.304760,38.018181,27.110001,...,63.549999,9.223076,8.831168,29.209999,26.209999,43.438015,16.933332,23.500000,67.459999,5.52
2,2021-05-07,115.449997,16.600000,8.858333,10.09,8.380000,24.469999,34.638096,39.599998,28.020000,...,64.970001,9.238461,8.952380,29.940001,25.850000,43.214874,17.780001,24.379999,67.419998,5.51
3,2021-05-10,114.690002,15.880000,8.895000,10.25,8.170000,23.870001,34.647617,39.900002,28.309999,...,67.989998,9.115384,9.047619,30.330000,24.500000,44.363636,17.766666,24.700001,68.470001,5.52
4,2021-05-11,118.720001,16.150000,8.913333,10.20,8.370000,24.469999,35.857143,40.463634,28.510000,...,68.000000,9.238461,9.047619,30.549999,23.969999,46.685951,17.616667,25.150000,68.320000,5.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,2023-10-16,67.300003,22.190001,10.760000,15.10,18.860001,40.130001,22.540001,12.960000,23.530001,...,63.990002,12.230000,9.030000,49.810001,15.530000,37.740002,11.740000,36.680000,57.369999,4.70
613,2023-10-17,67.849998,21.660000,10.600000,14.65,18.590000,39.970001,22.330000,12.810000,23.230000,...,63.000000,12.010000,8.840000,49.360001,15.790000,37.060001,11.270000,37.669998,57.470001,4.75
614,2023-10-18,65.360001,21.790001,10.440000,14.29,18.540001,38.900002,21.660000,12.240000,21.990000,...,63.000000,11.680000,8.750000,49.119999,15.480000,36.310001,11.130000,38.520000,56.080002,4.66
615,2023-10-19,64.419998,21.799999,10.420000,14.47,18.580000,38.759998,21.629999,12.340000,21.959999,...,62.119999,11.780000,8.800000,49.500000,15.470000,36.689999,11.000000,38.340000,55.980000,4.65
616,2023-10-20,62.410000,21.650000,10.350000,14.20,18.370001,37.709999,21.350000,12.120000,21.520000,...,61.369999,11.740000,8.730000,49.630001,15.260000,36.060001,11.020000,37.759998,54.630001,4.57

In [179]:
((dataset['VALE3.SA'][len(dataset) - 1] - dataset['VALE3.SA'][0]) / dataset['VALE3.SA'][0]) * 100

-43.627494929529576

In [193]:
df = pd.DataFrame()
valor_tot= 0
for acao in dataset.columns[1:]:
     valor =int(((dataset[acao][len(dataset) - 1] - dataset[acao][0]) / dataset[acao][0]) * 100)
     print(f'empresa {acao} e o valor é {round(valor,2)}')
     d = valor
     valor_tot = valor_tot + d
     
print(valor_tot)

empresa VALE3.SA e o valor é -43
empresa RECV3.SA e o valor é 38
empresa KEPL3.SA e o valor é 22
empresa CURY3.SA e o valor é 44
empresa VULC3.SA e o valor é 135
empresa LEVE3.SA e o valor é 54
empresa GGBR4.SA e o valor é -34
empresa LREN3.SA e o valor é -67
empresa ALSO3.SA e o valor é -19
empresa DIRR3.SA e o valor é 30
empresa MILS3.SA e o valor é 25
empresa RANI3.SA e o valor é 46
empresa CAMB3.SA e o valor é 60
empresa CSUD3.SA e o valor é -42
empresa CLSC4.SA e o valor é -6
empresa CMIG4.SA e o valor é 26
empresa ITSA4.SA e o valor é -1
empresa BBAS3.SA e o valor é 69
empresa TASA4.SA e o valor é -39
empresa SLCE3.SA e o valor é -17
empresa B3SA3.SA e o valor é -35
empresa PETR4.SA e o valor é 58
empresa SUZB3.SA e o valor é -19
empresa KLBN4.SA e o valor é -17
268